{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lead Manager</title>
    <link
      rel="icon"
      href="https://yves-technology.vercel.app/img/favicon.png"
      data-rh="true"
    />
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
  </head>
  <body>
    <div class="templates">
      <template id="t-app">
        <header-component></header-component>
        <div class="container">
        </div>
        <alerts-component></alerts-component>
      </template>
      <template id="t-header">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#" nav="/">Lead Manager</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link nav" nav="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav" nav="/register">Signup</a>
              </li>
            </ul>
          </div>
        </nav>
      </template>
      <template id="t-form">
        <div class="card card-body mt-4 mb-4">
          <h2>Add Lead</h2>
          <form>
            <div class="form-group">
              <label> Name </label>
              <input type="text" class="form-control" name="name" />
            </div>
            <div class="form-group">
              <label> email </label>
              <input type="email" class="form-control" name="email" />
            </div>
            <div class="form-group">
              <label> message </label>
              <textarea type="text" class="form-control" name="message" />
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </template>
      <template id="t-leads">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Message</th>
              <th />
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </template>
      <template id="t-dashboard">
        <div class="row">
          <div class="col-md-3">
            <form-component></form-component>
          </div>
          <div class="col-md-9">
            <leads-component></leads-component>
          </div>
        </div>
      </template>
      <template id="t-alerts"> </template>
      <template id="t-register">
        <div class="col-md-6 m-auto">
          <div class="card card-body mt-5">
            <h2 class="text-center">Register</h2>
            <form>
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" />
              </div>
              <div class="form-group">
                <label>Password Confirmation</label>
                <input type="password" class="form-control" name="password2" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">
                  Register
                </button>
              </div>
              <p>Already have an account?
                <div nav="/login">Login</div>
              </p>
            </form>
          </div>
        </div>
      </template>
      <template id="t-login">
        <div class="col-md-6 m-auto">
          <div class="card card-body mt-5">
            <h2 class="text-center">Login</h2>
            <form>
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">
                  Login
                </button>
              </div>
              <p>
                Don't have an account? 
                <div nav="/register">Register</div>
              </p>
            </form>
          </div>
        </div>
      </template>
    </div>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>
    <script defer type="module" src="{% static 'frontend/index.js' %}"></script>
  </body>
</html>
